.wrapper{
  width: 240px;
  .setting-item{
    margin-left: 0;
  }
}
.setting-wrapper{
  padding-bottom: 8px;
}
.setting-item{
  width: 100%;
  justify-content:flex-start;
  border-radius:0;
  font-weight:500;
  padding:11px 16px;
  line-height: 1.8rem;
  &:hover{
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
  }
  &.separate{
    border-top: 1px solid rgba(22,24,35,0.15);
  }
}
//Menu Item 2
.header{
  display:flex;
  position: relative;
  height: 50px;
  margin-top:-8px;
}
.back-btn{
  width: 50px;
  height:100%;
  background-color:transparent;
  cursor:pointer;
}
.header-title{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

}
